body {
  padding: 0;
  text-align: center;
  display:flex;
  justify-content: center;
}

.game-intro {
@@ -36,3 +38,8 @@ body button {
    float: left;
    padding: 20px 0px;
}

canvas{
  border: 1px solid red;

}